.scroll-x{
    overflow-x: scroll;
}
.welcome{
    .scroll-x{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .items{
            width: 400px;
            .info{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
            }
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }
    }
    .recent-order-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        align-items: flex-start;
        border: 1px solid black;
        padding: 1em;
    }
}