@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  padding: 1em;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.header .nav-links input {
  max-width: 400px;
  padding: 0.5em;
  font-size: 20px;
  border: none;
  background-color: #D9D9D9;
  border-radius: 5px;
}
.header .nav-links .bottom {
  display: flex;
  gap: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.avatar img {
  width: 50px;
  height: 50px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid black;
  border-radius: 50%;
}

.footer {
  padding: 1em;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
.footer * {
  color: white;
}
.footer nav {
  display: flex;
  gap: 1em;
}
.footer p {
  color: #363636;
}

.loaderWrapper {
  width: 100%;
}

.loaderWrapperPage {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  z-index: 100;
  opacity: 0.7;
}
.loaderWrapperPage .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  position: relative;
  width: 120px;
  height: 140px;
  background-image: radial-gradient(circle 30px, #AB886D 100%, transparent 0), radial-gradient(circle 5px, #AB886D 100%, transparent 0), radial-gradient(circle 5px, #AB886D 100%, transparent 0), linear-gradient(#AB886D 20px, transparent 0);
  background-position: center 127px, 94px 102px, 16px 18px, center 114px;
  background-size: 60px 60px, 10px 10px, 10px 10px, 4px 14px;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 500px;
}

.loader::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #AB886D;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}

.loader::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg);
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  border: 7px solid #6F3B0E;
  border-radius: 50%;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg);
  }
}
.order-component {
  width: 100%;
  outline: 1px solid black;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 3em;
}
.order-component .items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 5em;
  padding-bottom: 1em;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
.order-component .items ::-webkit-scrollbar {
  display: none !important;
  margin-top: 1em;
}
.order-component .items .item-card {
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.order-component .items .item-card span {
  display: inline;
}
.order-component .items .item-card .img {
  width: 200px !important;
  height: 200px !important;
  border-radius: 50%;
}
.order-component .items .item-card .img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order-component .items .item-card .info {
  width: 100%;
}
.order-component .items .item-card .info p {
  max-width: 20ch;
  overflow: hidden;
}
.order-component .sellerInfo .info, .order-component .buyerInfo .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}
.order-component .sellerInfo .info div, .order-component .buyerInfo .info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.stats {
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 0.5em 1em;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.logo h1 {
  font-size: 40px;
  letter-spacing: 0.5px;
  line-height: 42px;
}
.logo .square {
  position: absolute;
  top: 0px;
  left: -70px;
  background-color: #E7C29D;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.home {
  position: relative;
  margin-top: 3em;
}
.home .hero {
  width: 100%;
  padding: 1em;
}
.home .hero .left {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
.home .hero .left h1 {
  font-size: 110px;
  line-height: 100px;
}
.home .hero .left p {
  max-width: 30ch;
  padding-top: 2em;
}
.home .hero .hero-bg {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .hero .hero-bg .vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.home .collectibles {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.home .collectibles .left, .home .collectibles .right {
  width: 100%;
}
.home .collectibles .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .collectibles .left img {
  max-width: 500px;
}
.home .collectibles .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin-top: 15em;
}
.home .collectibles .right h1 {
  text-align: right;
  font-size: 61px;
}
.home .collectibles .right p {
  text-align: right;
}
.home .recents {
  padding: 1em;
}
.home .recents .products {
  display: flex;
  width: 100%;
  margin: 1em 0;
  overflow-x: scroll;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}
.home .recents .products .Card {
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 5em;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.home .recents .products .Card h2 {
  font-size: 20px;
  width: 100%;
  min-width: 300px;
  margin-top: 1em;
}
.home .recents .products .Card p {
  width: 100%;
}
.home .recents .products .Card img {
  top: -50%;
  left: 0;
  max-width: 300px;
}

.login {
  display: flex;
}
.login .left {
  width: 100%;
}
.login .left h1 {
  margin-bottom: 2em;
}
.login .right {
  width: 100%;
}
.login .form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.login .form .input-wrapper {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.login .form .input-wrapper input {
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  max-width: 400px;
  background-color: whitesmoke;
  padding: 1em;
}
.product-card img {
  width: 100%;
  height: 250px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card button {
  width: 100%;
}
.product-card h2 {
  width: 20ch;
}

.explore .search-wrap {
  margin-top: 1em;
}
.explore .allProducts {
  margin-top: 2em;
  width: 100%;
  flex-wrap: wrap;
  gap: 5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product-page .top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
}
.product-page .top .left, .product-page .top .right {
  width: 100%;
}
.product-page .top .left img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-page .top .right {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.product-page .top .right span {
  display: flex;
  gap: 0.5em;
  color: green;
}
.product-page .top .right button {
  max-width: 300px;
}
.product-page .about {
  padding: 2em;
  background-color: #363636;
  color: white;
}
.product-page .categories {
  display: flex;
  gap: 1em;
}
.tag {
  background-color: brown;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.2em 1em;
  border-radius: 2em;
  color: white;
}

.product-page .left {
  position: relative;
}
.product-page .imgHolder {
  width: 100%;
  height: 400px !important;
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-page .imgHolder img {
  height: 400px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.editImageButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
  background-color: green;
  color: white;
  display: flex;
  padding: 1em;
  border-radius: 50%;
}

.sellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: flex-start;
  align-items: center;
}

.seller-card {
  width: 100%;
  max-width: 700px !important;
  position: relative;
}
.seller-card img {
  max-width: 700px;
  max-height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.seller-wrapper {
  margin-top: 1em;
}

.sellerinfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.sellerinfo img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.productss {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  overflow-x: scroll;
  padding-bottom: 1em;
}

.seller-page .details, .welcome .details {
  position: relative;
}
.seller-page .details .top, .welcome .details .top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller-page .details .info-of-seller, .welcome .details .info-of-seller {
  background-color: brown;
  padding: 1em;
  color: white;
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.seller-page .details .info-of-seller h1, .welcome .details .info-of-seller h1 {
  font-size: 3em;
}
.seller-page .details .info-of-seller div, .welcome .details .info-of-seller div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.seller-page .details img, .welcome .details img {
  width: 70vw;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.scroll-x {
  overflow-x: scroll;
}

.welcome .scroll-x {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.welcome .scroll-x .items {
  width: 400px;
}
.welcome .scroll-x .items .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.welcome .scroll-x span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.welcome .recent-order-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  align-items: flex-start;
  border: 1px solid black;
  padding: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  z-index: 1;
}

input {
  padding: 0.5em;
  font-size: 20px;
}

.pointer {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-color: red;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(102px);
          backdrop-filter: blur(102px);
}

.pointer-big {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-color: red;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(102px);
          backdrop-filter: blur(102px);
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.serif {
  font-family: "Fredericka the Great", cursive;
  text-transform: uppercase;
  font-weight: 100;
}

html {
  font-family: "Poppins", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: bold;
}

a, p, div, button {
  font-size: 20px !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.page {
  padding: 1em;
  min-height: 80vh;
}

button {
  font-family: "Poppins", sans-serif !important;
  text-transform: uppercase;
  background: none;
  color: black;
  border: 3px solid black;
  padding: 0.5em 1em;
  font-weight: bold !important;
}
button:hover {
  background-color: black;
  color: white;
}

.outline-btn {
  background: none;
  color: black;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  border: 3px solid black;
  padding: 0.5em 1em;
  font-weight: bold !important;
}
.outline-btn:hover {
  background-color: black;
  color: white;
}

.button {
  background: #6F3B0E;
  border: none;
  padding: 1em 2em;
  color: white;
  transition: 0.5s ease-in-out;
}
.button:hover {
  background-color: #AB886D;
  color: white;
}

.App {
  width: 100%;
}

.cart-qty {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  gap: 1em;
}

.flex-start {
  justify-content: flex-start !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.cart-card {
  justify-content: space-between !important;
}
.cart-card img {
  max-width: 400px;
}
.cart-card h2 {
  width: 100%;
}
.cart-card .info {
  width: 100%;
}

.cartPage .total {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}
.cartPage .products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.box .top, .box .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.avatar img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile .imgHolder {
  position: relative;
  max-width: 600px !important;
  height: 300px !important;
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .imgHolder img {
  height: 300px !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .left {
  width: 100%;
}
.profile .left img {
  max-width: 500px;
}

.hero-seller {
  width: 80%;
}

.status {
  background-color: green;
  color: white;
  padding: 0.2em 1em;
  border-radius: 1em;
}

.warning-status {
  background-color: red;
  color: white !important;
  padding: 0.2em 1em;
  border-radius: 1em;
}

.input-border-less {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  width: 100%;
  box-sizing: border-box;
  word-break: break-word;
}

.multi-line {
  font-size: 20px;
  min-height: 10em;
}

.white-color {
  color: white !important;
}

.h1 {
  font-size: 2em;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3em;
}
.progress .done {
  color: green;
}
.progress .pending {
  color: #AB886D;
}
.progress .cancel {
  color: red;
}
.progress .done-bg {
  background-color: green !important;
}
.progress .action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
.progress .checkpoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress .progressbar {
  width: 100px;
  height: 10px;
  background-color: gray;
  border-radius: 10px;
}

.information {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
}
.information div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 1px solid black;
}/*# sourceMappingURL=index.css.map */