$light-yellow : #FEEBE3;
$light-brown : #E7C29D;
$coffee : #AB886D;
$brown : #6F3B0E;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import './components/spinner';
@import './components/header';
@import './components/footer';
@import './components/loader';
@import './components/orderComponent';
@import './components/sellerCard';
@import './components/logo.scss';
@import './page/home';
@import './page/login';
@import './page/explore';
@import './page/product';
@import './page/seller';
@import './page/welcome';





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;

    // outline: 1px solid blue;
}
.App{
    z-index: 1;
}
input{
    padding: .5em;
    font-size: 20px;
}
.pointer {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background-color: red;
    opacity: 0.5;
    backdrop-filter: blur(102px);
}
.pointer-big {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background-color: red;
    opacity: 0.5;
    backdrop-filter: blur(102px);
}
body{
    // background-color: $light-yellow;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.serif{
    // font-family: 'Anton', sans-serif;
    // font-family: 'Playfair Display SC', serif;
    // font-family: 'Bebas Neue', cursive;
    // font-family: 'Abril Fatface', cursive;
    // font-family: 'Monoton', cursive;
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    font-weight: 100;
}

html{
    font-family: 'Poppins', sans-serif !important;
}

h1,h2,h3,h4,h5,h6,b{
    font-weight: bold;
}

a, p, div, button{
    font-size: 20px !important;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.max-width{
    // max-width: 1300px;
}
.page{
    padding: 1em;
    min-height: 80vh;
    // max-width: 1300px;

}
button{
    font-family: 'Poppins', sans-serif !important;
    text-transform: uppercase;
    background: none;
    color: black;
    border: 3px solid black;
    padding: .5em 1em;
    font-weight: bold !important;
    &:hover{
        background-color: black;
        color: white;
    }
}
.outline-btn{
    background: none;
    color: black;
    text-transform: uppercase;
    width: fit-content;
    border: 3px solid black;
    padding: .5em 1em;
    font-weight: bold !important;
    &:hover{
        background-color: black;
        color: white;
    }
}
.button{
    background: $brown;
    border: none;
    padding: 1em 2em;
    // font-family: 'Anton', sans-serif;
    color: white;    
    transition: .5s ease-in-out;
    &:hover{
        background-color: $coffee;
        color: white;
    }
}

.App{
    width: 100%;
}
.cart-qty{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    gap: 1em;
}
.flex-start{
    justify-content: flex-start !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
  }

  .cart-card{
    justify-content: space-between !important;
    img{
        max-width: 400px;
    }
    h2{
        width: 100%;
    }
    .info{
        width: 100%;
    }
  }

  .cartPage{
    .total{
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }
    .products{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
  }

  

  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    .top,.bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

    }
  }

  .avatar{
    img{
        width: 60px;
        height: 60px;
        object-fit: cover;

    }
  }

  .profile{
      .imgHolder{
        position: relative;
          max-width: 600px !important;
          height: 300px !important;
          outline: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            height: 300px !important;
            width: 100%;
            object-fit: cover;
        }
      }
    .left{
        width: 100%;
        img{
            max-width: 500px;
        }
    }
  }

  .hero-seller{
    width: 80%;
  }

  .status{
    background-color: green;
    color: white;
    padding: .2em 1em;
    border-radius: 1em;
  }

  .warning-status{
    background-color: red;
    color: white !important;
    padding: .2em 1em;
    border-radius: 1em;
  }

  .input-border-less{
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background:  none !important;

    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    word-break: break-word;
}
.multi-line{
    font-size: 20px;
    min-height: 10em;
}
.white-color{
    color: white !important;
}

.h1{
    font-size: 2em;
}

.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3em;
    .done{
        color: green;
    }
    .pending{
        color: $coffee;
    }
    .cancel{
        color: red;
    }
    .done-bg{
        background-color: green !important;
    }
    .action{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        margin-top: 1em;
    }
    .checkpoint{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .progressbar{
        width: 100px;
        height: 10px;
        background-color: gray;
        border-radius: 10px;
    }
}

.information{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1em 0;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border: 1px solid black;
    }
}